<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	
	<section layout:fragment="contents" class="contents d-flex justify-content-center">
		<div class="memo-box my-5">
			<h2 class="text-center">메모 상세</h2>
			<input type="text" class="form-control mt-3" placeholder="제목을 입력하세요." id="titleInput" th:value="${memo.title}" value="메모 제목">
			<textarea class="form-control mt-3" rows="10" placeholder="내용을 입력하세요." id="contentsInput" th:text=${memo.contents}>메모 내용 입니다.</textarea>
			
			<!-- 이미지를 포함시키는 곳 -->
			<img th:src="${memo.imagePath}">
			
			<div class="d-flex justify-content-between mt-3">
				<button type="button" class="btn btn-danger">삭제</button>
				
				<div>
					<a href="/post/list-view" class="btn btn-secondary">목록으로</a>
					<button type="button" class="btn btn-secondary" id="saveBtn">저장</button>
				</div>
			</div>
			
		</div>
	
	</section>