<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	
	<section layout:fragment="contents" class="contents d-flex justify-content-center">
		<div class="memo-box my-5">
			<h2 class="text-center">메모 입력</h2>
			<input type="text" class="form-control mt-3" placeholder="제목을 입력하세요." id="titleInput">
			<textarea class="form-control mt-3" rows="10" placeholder="내용을 입력하세요." id="contentsInput"></textarea>
			<input type="file" class="mt-3">
			<div class="d-flex justify-content-between mt-3">
				<a href="/post/list-view" class="btn btn-secondary">목록으로</a>
				<button type="button" class="btn btn-secondary" id="saveBtn">저장</button>
			</div>
			
		</div>
		
	</section>
	
	<script layout:fragment="script">
		$("#saveBtn").on("click", function(){
			let title = $("#titleInput").val;
			let contents = $("#contentsInput").val();
			
			if(title ==""){
				alert("제목을 입력하세요");
				return;
			}
			if(contents == ""){
				alert("내용을 입력하세요");
				return;
			}
			
			$.ajax({
				type:"post"
				, url:"/post/creat"
				, data:{"title":title, "contents":contents}
				, success:function(response){
					if(response.result == "success"){
						location.href = "/post/list-view"; 
					} else {
						alert("글 작성 실패");
					}
				}
				, error:function() {
					alert("글 작성 에러!");
				}
			})
			
		})
	
	</script>
	
</html>