<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	
	<section layout:fragment="contents" class="contents d-flex justify-content-center">
		<div class="memo-box my-5 ">
			<h1 class="text-center">메모 리스트</h1>	
				
			<div class="table-container mt-5">
				<table class="table table-bordered text-center">
					<thead>
						<tr>
				        	<th>No</th>
				        	<th>제목</th>
				            <th>작성 날짜</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr th:each="memo:${memoList}">
				            <td th:text="${memo.id}">21</td>
				            <td><a th:href="|/post/detail-view?id=${memo.id}|" th:text="${memo.title}">이번 주 일정 정리</a></td>
				            <td th:text="${#temporals.format(memo.createdAt, 'yyyy-M-dd hh:mm:ss')}">2024-08-21</td> <!-- format 사용 -->
				        </tr>
				    </tbody>
				</table>
			</div>
			
			<div class="d-flex justify-content-end">
				<a href="/post/create-view" class="btn btn-secondary">메모 쓰기</a>
			</div>
			
		</div>
		
	</section>
	
</html>