<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	<section layout:fragment="contents" class="contents d-flex justify-content-center">
		<div class="user-box memo-bg my-5 p-5 rounded-lg"> <!-- 일단 부트스트랩으로 사이즈 라운드 조절함 -->
			<input type="text" class="form-control mt-4" id="idInput" placeholder="아이디">
			<input type="password" class="form-control mt-2" id="passwordInput" placeholder="비밀번호">
			<input type="password" class="form-control mt-2" id="passwordConfirmInput" placeholder="비밀번호 확인">
			<input type="text" class="form-control mt-2" id="nameInput" placeholder="이름">
			<input type="text" class="form-control mt-2" id="emailInput" placeholder="이메일">
			<button type="button" class="btn btn-secondary btn-block mt-3" id="joinBtn">가입</button>	
		</div>
	</section>
	
	
	<script layout:fragment="script">
		$("#joinBtn").on("click", function (){
			
			let id = $("#idInput").val();
			let password = $("#passwordInput").val();
			let passwordConfirm = $("#passwordConfirmInput").val();
			let name = $("#nameInput").val();
			let email = $("#emailInput").val();
			
			if(id == "") {
				alert("아이디를 입력하세요.");
				return;
			}
			
			if(password == "") {
				alert("비밀번호를 입력하세요");
				return;
			}
			
			
			if(password != passwordConfirm) {
				alert("비밀번호가 일치하지 않습니다.");
				return;
			}
			
			if(email == "") {
				alert("이메일을 입력하세요");
				return;
			}
			
			
			$.ajax({
				type:"post"
				, url:"/user/join"
				, data:{"loginId":id, "password":password, "name":name, "email":email}
				, success:function(response) {
					if(response.result == "success") {
						location.href = "/user/login-view";
					} else {
						alert("회원 가입 실패!")
					}
						
				} 
				, error:function() {
					alert("회원가입 중 에러 발생!");
				}
			})
			
			
			
		})
		
	
	</script>
	
	
	
</html>